<!DOCTYPE html>
<html>
<head>
<title>This is my first view!</title>
<script src='/public/jquery.js'></script>
<script src='/public/javascripts/spotter.js'></script>
</head>
<body>
<p>hello world</p>
<%-body%>
</body>
</html>
